<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>527590511872-p48t4qpcujktsapi62rm4decif9c0s7h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.527590511872-p48t4qpcujktsapi62rm4decif9c0s7h</string>
	<key>API_KEY</key>
	<string>AIzaSyDCgYzn8v5a5W7dzFop6KBhO9xmy_MjfIA</string>
	<key>GCM_SENDER_ID</key>
	<string>527590511872</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>labd2m.ExemploFCM</string>
	<key>PROJECT_ID</key>
	<string>exemplo-fcm-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>exemplo-fcm-ios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:527590511872:ios:526203365b5c6c85674fe5</string>
	<key>DATABASE_URL</key>
	<string>https://exemplo-fcm-ios.firebaseio.com</string>
</dict>
</plist>